body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  background-color: #f5f8fa;
}

.linha-grid {
  pointer-events: none;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 255, 170, 0);
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid rgb(70, 70, 70);
  border-left: 1px solid rgb(70, 70, 70);
  width: 60vw;
}

.header {
  flex-direction: column;
  margin-top: 30px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 40px;

}

.digitar-botao {
  margin-top: 15px;
}

.mensagens-feitas {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid rgb(70, 70, 70);
  border-left: 1px solid rgb(70, 70, 70);
  border-right: 1px solid rgb(70, 70, 70);
  width: 60vw;
  font-family: Arial, sans-serif;
  font-size: 24px;
  background-color: #fff;
}

.mensagens-feitas p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 16px 10px;
  border-bottom: 1px solid rgb(70, 70, 70);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.botao-like {
  width: 40px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  
}
.alinhamento {
  display: flex;            /* coloca img e span na mesma linha */
  align-items: center;      /* alinha verticalmente */
  justify-content: space-between; /* coração à esquerda, nome à direita */
  padding: 0 10px;          /* opcional: espaço nas laterais */
}


.nome{
  display: block;
  text-align: right;
}

.mensagens-postadas{
  margin: 0;
  padding: 16px 10px;
  border-bottom: 1px solid rgb(70, 70, 70);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

img {
  width: 50px;
  vertical-align: middle;
}

.img {
  background-color: #ffffff;
  margin-right: 25px;
  width: 80px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 150px;
  object-fit: contain;
  height: 80px;
}

.nickname {
  border: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 50px;
  background-color: #f5f8fa;
  font-size: 24px;
  width: 170px;
  padding: 6px 20px;
  box-sizing: border-box;
}

.nickname::placeholder {
  text-align: center;
}

.caixa-de-mensagens {
  background-color: #f5f8fa;
  font-size: 24px;
  border: none;
  width: 480px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.caixa-de-mensagens:focus {
  outline: none;
}

.botao {
  font-size: 20px;
  border: none;
  color: white;
  background-color: rgb(106, 178, 245);
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
}

.botao:hover {
  opacity: 0.8;
}