:root[data-theme="light"] {
  --bg-color: #f5f8fa;
  --box-color: #fff;
  --font-color: black;
  --num-like-color: #333;
  --border-color: #464646;
  --header-color: #464646;
  --enviar-color: #6ab2f5;

}

:root[data-theme="dark"] {
  --bg-color: #212121;
  --font-color: #eee;
  --num-like-color: #bebebe;
  --box-color: #171717;
  --border-color: #464646;
  --header-color: white;
  --enviar-color: #4d4d4d;

  .botao-like {

    filter: invert(1) hue-rotate(180deg) saturate(500);
  }
}

body {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  background-color: var(--bg-color);
}

.interruptor {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.msg-luz {
  color: #212121;
  position: absolute;
  right: 1px;
}

/* BARRAS LATERAIS E GRID SUPERIOR */
.linha-grid {
  pointer-events: none;
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 255, 170, 0);
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  width: min(60vw, 800px);
  box-sizing: border-box;
}

/* HEADER CENTRALIZADO COM AS BARRAS */
.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 40px;
  width: min(75vw, 700px);
  box-sizing: border-box;
}

/* DIV da parte de baixo da header */
.digitar-botao {
  display: flex;
  justify-content: right;
  margin-top: 15px;
  width: min(78vw, 700px);
}

/* FUNDO e GRID (onde ficam as mensagens) */
.mensagens-feitas {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: min(60vw, 800px);
  font-family: montserrat;
  font-size: 24px;
  background-color: var(--box-color);
  box-sizing: border-box;
}

/* MENSAGENS POSTADAS */
.mensagem-individual {
  border-bottom: 1px solid var(--border-color);
}

.mensagem-individual p {
  width: min(65vw, 780px);
  font-size: 20px;
  margin: 0;
  padding: 16px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.mensagem-individual a {
  color: #4da3ff;
  text-decoration: underline;
  word-break: break-all;
  /* evita links longos estourando layout */
}

/* LIKE E NOME */
.alinhamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.info-esquerda {
  display: flex;
  align-items: center;
}

.botao-like {
  width: 30px;
  cursor: pointer;
  margin-right: 8px;
}

.numero-likes {
  font-size: 18px;
  color: var(--num-like-color);
  ;
}

.nome {
  font-weight: bold;
  font-size: 16px;
}

/* IMAGENS */
img {
  width: 50px;
  vertical-align: middle;
}

.img {
  background-color: #ffffff;
  margin-right: 25px;
  width: 80px;
  height: 80px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 150px;
  object-fit: contain;
}

/* INPUTS */
.nickname {
  font-family: montserrat;
  border: 1px solid var(--header-color);
  border-radius: 50px;
  background-color: var(--bg-color);
  font-size: 24px;
  width: 200px;
  padding: 6px 20px;
  box-sizing: border-box;
  color: var(--font-color);
}

.nickname::placeholder {
  text-align: center;
}


.caixa-de-mensagens {
  resize: none;
  font-family: montserrat;
  background-color: var(--bg-color);
  font-size: 24px;
  border: none;
  width: min(75vw, 680px);
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--font-color);
}

.caixa-de-mensagens:focus {
  outline: none;
}

/* BOTÃO PRINCIPAL */
.botao {
  font-family: montserrat;
  font-size: 20px;
  border: none;
  color: white;
  background-color: var(--enviar-color);
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
}

.botao:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .header {
    scale: 0.68;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .nickname {
    font-size: 16px;
    width: 130px;
    padding: 4px 12px;
  }

  .caixa-de-mensagens {
    font-size: 16px;
    height: 38px;
  }

  .botao {
    font-size: 14px;
    padding: 8px 16px;
  }

  .mensagem-individual p {
    font-size: 12px;
    margin: 0;
    padding: 16px 10px;
    width: min(54.5vw, 800px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .mensagens-feitas {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    width: min(60vw, 800px);
    font-family: montserrat;
    font-size: 24px;
    background-color: var(--box-color);
    box-sizing: border-box;
  }

  .texto {
    font-size: 16px;
  }

  .nome {
    text-align: right;
    font-size: 8px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .botao-like {
    width: 22px;
  }

  .interruptor {
    scale: 0.8;
    right: 1px;
    top: 1px;
  }

}