:root[data-theme="light"] {
  --bg-color: #f5f8fa;
  --box-color: #fff;
  --font-color: black;
  --num-like-color: #333;
  --border-color: #464646;
  --header-color: #464646;
  --enviar-color: #6ab2f5;
  --shadow-div: black;

  .seletor-icone {
    filter: invert(1) brightness(500%);
  }
}

:root[data-theme="dark"] {
  --bg-color: #212121;
  --font-color: #eee;
  --num-like-color: #bebebe;
  --box-color: #171717;
  --border-color: #464646;
  --header-color: white;
  --enviar-color: #4d4d4d;
    --shadow-div: rgb(134, 135, 139);

  .botao-like {
    filter: invert(1) hue-rotate(180deg) saturate(500);
  }
}

body {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  background-color: var(--bg-color);
}

.interruptor {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.msg-luz {
  color: #212121;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* BARRAS LATERAIS E GRID SUPERIOR */
.linha-grid {
  pointer-events: none;
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 255, 170, 0);
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  width: min(60vw, 800px);
  box-sizing: border-box;
}

/* HEADER CENTRALIZADO COM AS BARRAS */
.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 45px;
  width: min(75vw, 700px);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--shadow-div);
  border-radius: 20px;
  padding: 15px;

}

/* DIV da parte de baixo da header */
.digitar-botao {
  display: flex;
  justify-content: right;
  margin-top: 15px;
  width: min(75vw, 658px);
}

/* FUNDO e GRID (onde ficam as mensagens) */
.mensagens-feitas {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: min(60vw, 800px);
  font-family: montserrat;
  font-size: 24px;
  background-color: var(--box-color);
  box-sizing: border-box;
}

/* MENSAGENS POSTADAS */
.mensagem-individual {
  border-bottom: 1px solid var(--border-color);
}

.mensagem-individual p {
  width: min(65vw, 780px);
  font-size: 20px;
  margin: 0;
  padding: 16px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.mensagem-individual a {
  color: #4da3ff;
  text-decoration: underline;
  word-break: break-all;
  /* evita links longos estourando layout */
}

.div-seletor-img {
  margin-left: 10px;
  padding: 7px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--num-like-color);

}

.seletor-img {
  display: none;
}

.seletor-icone {
  display: inline-block;
  cursor: pointer;
}

.seletor-icone:hover img {
  transform: scale(1.1);
}

.div-da-imagem {
  margin: auto;
  width: min(64vw, 790px);
  margin-bottom: 15px;

}

.imagem-do-post {
  margin: 0 auto;
  width: 80%;
  max-height: 300px;
  height: auto;
  display: block;
  object-fit: contain;

}




/* LIKE E NOME */
.alinhamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.info-esquerda {
  display: flex;
  align-items: center;
}

.botao-like {
  width: 30px;
  cursor: pointer;
  margin-right: 8px;
}

.numero-likes {
  font-size: 18px;
  color: var(--num-like-color);
  ;
}

.nome {
  font-weight: bold;
  font-size: 16px;
}

/* IMAGENS*/
.tema img {
  vertical-align: middle;
}

.tema {
  height: 50px;
}

/*
/* INPUTS */
.nickname {
  font-family: montserrat;
  border: 1px solid var(--header-color);
  border-radius: 50px;
  background-color: var(--bg-color);
  font-size: 24px;
  width: 200px;
  padding: 6px 20px;
  box-sizing: border-box;
  color: var(--font-color);
}

.nickname::placeholder {
  text-align: center;
}


.caixa-de-mensagens {
  resize: none;
  font-family: montserrat;
  background-color: var(--bg-color);
  font-size: 24px;
  border: none;
  width: min(75vw, 680px);
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--font-color);
}

.caixa-de-mensagens:focus {
  outline: none;
}

/* BOTÃO PRINCIPAL */
.botao {
  font-family: montserrat;
  font-size: 20px;
  border: none;
  color: white;
  background-color: var(--enviar-color);
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
}

.botao:hover {
  opacity: 0.8;
}


@media (max-width: 1366px) {
  .header {
    scale: 0.85;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .linha-grid {
    width: min(76vw, 800px);
  }

  .nickname {
    font-size: 16px;
    width: 130px;
    padding: 4px 12px;
  }

  .caixa-de-mensagens {
    font-size: 16px;
    height: 38px;
  }

  .digitar-botao {
    width: min(66vw, 610px);
    margin-bottom: 6px;
  }
  .div-seletor-img {
    scale: 0.8;
  }

  .botao {
    font-size: 14px;
    padding: 8px 16px;
  }

  .mensagem-individual p {
    font-size: 15px;
    margin: 0;
    padding: 16px 10px;
    width: min(70vw, 600px) ;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .div-da-imagem {
    margin: auto;
    width: min(54.5vw, 790px);
    margin-bottom: 15px;
  }

  .imagem-do-post {
    max-height: 150px;
  }


  .mensagens-feitas {
    width: min(76vw, 800px);
  }

  .texto {
    font-size: 16px;
  }

  .nome {
    text-align: right;
    font-size: 8px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .botao-like {
    width: 16px;
  }

  .numero-likes {
    font-size: 10px;
    color: var(--num-like-color);
    ;
  }

  .interruptor {
    scale: 0.8;
    right: 1px;
    top: 1px;
  }

}